.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.mobile-footer{
    display: none;
    width: 100%;
    height: 3vh;
    
    bottom: 0px;
    padding: 10px 0px;
    color: white;
    text-align: center;
}

.mobile-footer a{
    color: white;
    text-decoration: none;
}

.appInfo{
    width: 500px;
    
    display: none;
    position: absolute;
    margin: 10px;
    z-index: 15;
    background-color: #252a42;

    transition: 2s;

}

@media only screen and (max-width:1200px) and (min-width: 900px){
    /* body{
        background-color: brown;
    } */

    .main{
        flex-wrap: wrap;
    }

    .mobile-footer{
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    /* body{
        background-color: pink;
    } */
    
    .main{
        flex-wrap: wrap;
    }

    .mobile-footer{
        display: block;
    }


  }

