/* maincolor-1: #2437AB;
maincolor-2: #62D2EF;

seccolor-1: #FF7A06;
seccolor-2: #FFE787; */

$color-dark1: #1E1E2C;
$color-dark2: #252333;
$color-dark3: #2B2637;
$color-dark4: #343044;
$color-dark5: #5B5768;

$color-light1: #FFE395;
$color-light2: #D6AF6B;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;

  color: white;
  background-color: $color-dark1;

  ::selection{
    background-color: $color-light2;
  }
}

//MAIN CONTAINER
.main {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  // width: 90%;
  height: 90%;
  // border: 1px solid lightblue;
}

.main2{
  display: inline-block;
  width: auto;
  height: auto;
  // margin: 2% auto;
  // padding: 0px 300px;
  // text-align: center;
  // align-content: center;
  // justify-content: center;
  // border: 1px solid peru;
}

.footer{
  width: 100%;
  
  bottom: 0px;
  // padding: 10px 0px;
  color: white;
  text-align: center;
  margin: 5px 0px;
  margin-top: 0px;
  transition: 1s;

  a{
    color: $color-light2;
    text-decoration: none;
  }
}

.mobile-footer {
  display: block;
  width: 100%;
  height: 3vh;

  bottom: 0px;
  margin: 5px 0px;
  margin-top: 35px;
  color: white;
  text-align: center;

  a{
    color: $color-light2;
    text-decoration: none;
  }
}


.appInfo {
  width: 500px;

  display: none;
  position: absolute;
  margin: 10px;
  z-index: 15;
  background-color: #252a42;

  transition: 2s;
}

// SIDEBAR

.sidebar-header {
  display: block;
  width: 100%;
  // height: 2rem;
  max-width: 360px;
  // background-image: linear-gradient(to right, #2437ab, #62d2ef);
  height: auto;
  // max-height: 5rem;
  padding-top: 5px;

  .MuiButtonBase-root{
    display: inline-block;
    position: relative;
    top: -15px;
    color: $color-dark5;
    margin: 0px;
    padding: 0px;
  }

  .header-title {
    display: inline-block;

    padding: 10px;
    padding-bottom: 5px;

    h1{
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 2.7rem;
      line-height: 2rem;
      letter-spacing: 2px;
      color: $color-light1;
      display: inline;
      font-weight: lighter;
      cursor: default;


      &:hover{
        color: white;

      }
      transition: 0.2s;
    }

    p {
      font-size: 0.9rem;
      // display: inline-flex;
      margin: 5px 0px;
      margin-bottom: 0px;
      
    
    }
  }
}

.sidebar-plus-image{
  display: flex;
  width: auto;
  justify-content: center;
  // align-content: center;
  // border:1px solid red;

}

.sidebar {
  font-family: "Quicksand", sans-serif;
  position: relative;
  width: 360px;
  height: 94vh;
  font-size: 13px;
  font-weight: 300;

// SEARCH CONTAINER

  .searchContainer {
    font-family: "Quicksand", sans-serif;
    padding: 10px;
    padding-top: 0px;
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    // border: 1px solid lightcoral;
  }

  form {
    display: flex;

    width: 100%;
    margin: 2px 0px;
  }

  .searchInput {
    font-family: "Quicksand", sans-serif;
    background: $color-light2;
    font-weight: bold;
    width: 200px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
  }

  .searchButton {
    color: $color-light2;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0px 5px;
    background-color: $color-dark5;
  }

  .searchButton:hover {
    background-color: #574744;
    cursor: pointer;
  }

  .resultsList {
    display: block;
    position: relative;
    height: auto;
    height: 90%;
    max-height: 98%;
    list-style-type: none;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    /* margin-bottom: 30px; */
    background-color: $color-dark4;
  
    overflow-y: scroll;
  }
  
  .resultsList li {
    display: flex;
    padding: 3px;
    align-items: center;
    // border: 1px solid black;
    cursor: pointer;
    margin: 3px;
    border-radius: 10px;
    background-color: $color-dark3;
  }
  
  .resultsList li:hover {
    background-color: #36293b;
  }
  
  .resultsList li h3 {
    font-weight: 400;
    font-size: 16px;
    padding: 2px 2px;
  }
  
  .resultsList li h5 {
    font-weight: 300;
    /* font-size: 1.5rem; */
    padding: 2px 2px;
    color: #ffe787;
  }
  
  .searchResultImage {
    display: inline-block;
    padding: 5px;
    height: 50px;
    width: auto;
      
      img {
          width: 50px;
          height: auto;
      }
  }
}



span {
  margin: 5px;
}

// /* width */
::-webkit-scrollbar {
  display: none;
//   width: 15px;
}

// /* Track */
::-webkit-scrollbar-track {
  // display: none;
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 10px;
}

// /* Handle */
::-webkit-scrollbar-thumb {
//   background: #62d2ef;
//   border-radius: 10px;
}

// /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
//   background: #5193d1;
}





// IMAGE CONTAINER

.imageContainer {
  // border: 1px solid greenyellow;
  position: relative;
  margin: auto 0;
  transition: 1s;
  /* overflow: hidden; */
}

.generatedImage {
  /* width: 900px;
    height: 900px; */
  border: 1px solid rgb(61, 61, 65);
  /* margin: auto; */
}

svg {
  width: 100%;
  height: auto;
  fill: rgb(61, 61, 65);
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

h3 {
  font-weight: 700;
}

.A {
  z-index: 10;
}

.B {
  z-index: 8;
}

.C {
  z-index: 6;
}

.D {
  z-index: 4;
}

.E {
  z-index: 2;
}

.BG {
  z-index: 0;
}

.A img,
.B img,
.C img,
.BG img {
  width: 100%;
  height: auto;
}

.songTitleDisplay {
  margin: 10px;
  text-align: center;
}

.songTitleDisplay h3 {
  font-weight: 400;
  margin: 5px;
}

.songTitleDisplay h5 {
  font-weight: 300;
}

.image-element-enter {
  transform: scale(0.8);
  opacity: 0;
  transition: 1ms;
}

.image-element-enter-active {
  transform: scale(0.8);
  opacity: 0;
  transition: 1000ms;
}

.image-element-exit {
  transform: scale(0.8);
  opacity: 1;
  transition: 1000ms;
}

.image-element-exit-active {
  transform: scale(1);
  opacity: 1;
  transition: 1000ms;
}

// IMAGE ELEMENT
.generatedImage {
  display: flex;
  margin: auto;
  width: 700px;
  height: 700px;
  border: 1px solid rgb(61, 61, 65);
  overflow: hidden;
  /* transform: scale(1.1); */
}

svg {
  width: 100%;
  height: auto;
  fill: rgb(61, 61, 65);
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;

  /* animation: fadeIn 2s 1; */
}

@keyframes move1 {
  0% {
    transform: translate(0px, 5px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -5px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.A {
  z-index: 10;
  animation: pulse1 6s linear infinite;
}

.B {
  z-index: 8;
  animation: move1 5s linear infinite;
}

.C {
  z-index: 6;
  animation: move1 5.5s linear infinite;
}

.D {
  z-index: 4;
  animation: spin1 90s linear infinite;
}

.E {
  z-index: 2;
  animation: spin1 120s linear infinite;
}

.BG {
  z-index: 1;
  animation: spin1 180s linear infinite;
}

@media only screen and (max-width: 512px){
  .imageContainer{
    align-self: center;
    transform: scale(0.7);
    margin: -90px 0;
  }
}

@media only screen and (min-width: 512px) and (max-width: 768px){
  .imageContainer{
    align-self: center;
    transform: scale(0.9);
    margin: -10px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .imageContainer{
    align-self: center;
    transform: scale(1);
    margin: 10px auto;
  }
}

@media only screen and (max-width: 1024px){
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    
    // width: 90%;
    height: 90%;
    // border: 1px solid lightblue;
  }

  .main2{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .sidebar-header {
    position: relative;
    left: 5%;
    align-self: center;
  }

  .sidebar {
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-bottom: 10px;
    // align-self: center;
    font-size: 13px;
    font-weight: 300;

    form{
      justify-content: center;
      .searchInput{
        width: 70%;
      }
    }
  }
}

@media only screen and (min-width: 1024px){

  .sidebar{
    height: 710*1.1px;
    
  }

  .imageContainer{
    transform: scale(1.1);
    margin: 50px 50px;
  }
}