/* maincolor-1: #2437AB;
maincolor-2: #62D2EF;

seccolor-1: #FF7A06;
seccolor-2: #FFE787; */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #1E1E2C;
}

body ::-moz-selection {
  background-color: #D6AF6B;
}

body ::selection {
  background-color: #D6AF6B;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 90%;
}

.main2 {
  display: inline-block;
  width: auto;
  height: auto;
}

.footer {
  width: 100%;
  bottom: 0px;
  color: white;
  text-align: center;
  margin: 5px 0px;
  margin-top: 0px;
  -webkit-transition: 1s;
  transition: 1s;
}

.footer a {
  color: #D6AF6B;
  text-decoration: none;
}

.mobile-footer {
  display: block;
  width: 100%;
  height: 3vh;
  bottom: 0px;
  margin: 5px 0px;
  margin-top: 35px;
  color: white;
  text-align: center;
}

.mobile-footer a {
  color: #D6AF6B;
  text-decoration: none;
}

.appInfo {
  width: 500px;
  display: none;
  position: absolute;
  margin: 10px;
  z-index: 15;
  background-color: #252a42;
  -webkit-transition: 2s;
  transition: 2s;
}

.sidebar-header {
  display: block;
  width: 100%;
  max-width: 360px;
  height: auto;
  padding-top: 5px;
}

.sidebar-header .MuiButtonBase-root {
  display: inline-block;
  position: relative;
  top: -15px;
  color: #5B5768;
  margin: 0px;
  padding: 0px;
}

.sidebar-header .header-title {
  display: inline-block;
  padding: 10px;
  padding-bottom: 5px;
}

.sidebar-header .header-title h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 2.7rem;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #FFE395;
  display: inline;
  font-weight: lighter;
  cursor: default;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar-header .header-title h1:hover {
  color: white;
}

.sidebar-header .header-title p {
  font-size: 0.9rem;
  margin: 5px 0px;
  margin-bottom: 0px;
}

.sidebar-plus-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar {
  font-family: "Quicksand", sans-serif;
  position: relative;
  width: 360px;
  height: 94vh;
  font-size: 13px;
  font-weight: 300;
}

.sidebar .searchContainer {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  padding-top: 0px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2px 0px;
}

.sidebar .searchInput {
  font-family: "Quicksand", sans-serif;
  background: #D6AF6B;
  font-weight: bold;
  width: 200px;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.sidebar .searchButton {
  color: #D6AF6B;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0px 5px;
  background-color: #5B5768;
}

.sidebar .searchButton:hover {
  background-color: #574744;
  cursor: pointer;
}

.sidebar .resultsList {
  display: block;
  position: relative;
  height: auto;
  height: 90%;
  max-height: 98%;
  list-style-type: none;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  /* margin-bottom: 30px; */
  background-color: #343044;
  overflow-y: scroll;
}

.sidebar .resultsList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 3px;
  border-radius: 10px;
  background-color: #2B2637;
}

.sidebar .resultsList li:hover {
  background-color: #36293b;
}

.sidebar .resultsList li h3 {
  font-weight: 400;
  font-size: 16px;
  padding: 2px 2px;
}

.sidebar .resultsList li h5 {
  font-weight: 300;
  /* font-size: 1.5rem; */
  padding: 2px 2px;
  color: #ffe787;
}

.sidebar .searchResultImage {
  display: inline-block;
  padding: 5px;
  height: 50px;
  width: auto;
}

.sidebar .searchResultImage img {
  width: 50px;
  height: auto;
}

span {
  margin: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.imageContainer {
  position: relative;
  margin: auto 0;
  -webkit-transition: 1s;
  transition: 1s;
  /* overflow: hidden; */
}

.generatedImage {
  /* width: 900px;
    height: 900px; */
  border: 1px solid #3d3d41;
  /* margin: auto; */
}

svg {
  width: 100%;
  height: auto;
  fill: #3d3d41;
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

h3 {
  font-weight: 700;
}

.A {
  z-index: 10;
}

.B {
  z-index: 8;
}

.C {
  z-index: 6;
}

.D {
  z-index: 4;
}

.E {
  z-index: 2;
}

.BG {
  z-index: 0;
}

.A img,
.B img,
.C img,
.BG img {
  width: 100%;
  height: auto;
}

.songTitleDisplay {
  margin: 10px;
  text-align: center;
}

.songTitleDisplay h3 {
  font-weight: 400;
  margin: 5px;
}

.songTitleDisplay h5 {
  font-weight: 300;
}

.image-element-enter {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -webkit-transition: 1ms;
  transition: 1ms;
}

.image-element-enter-active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.image-element-exit {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.image-element-exit-active {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.generatedImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 700px;
  height: 700px;
  border: 1px solid #3d3d41;
  overflow: hidden;
  /* transform: scale(1.1); */
}

svg {
  width: 100%;
  height: auto;
  fill: #3d3d41;
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  /* animation: fadeIn 2s 1; */
}

@-webkit-keyframes move1 {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  25% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  75% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@keyframes move1 {
  0% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
  25% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }
  75% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@-webkit-keyframes pulse1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  22% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse1 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  22% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  80% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.A {
  z-index: 10;
  -webkit-animation: pulse1 6s linear infinite;
          animation: pulse1 6s linear infinite;
}

.B {
  z-index: 8;
  -webkit-animation: move1 5s linear infinite;
          animation: move1 5s linear infinite;
}

.C {
  z-index: 6;
  -webkit-animation: move1 5.5s linear infinite;
          animation: move1 5.5s linear infinite;
}

.D {
  z-index: 4;
  -webkit-animation: spin1 90s linear infinite;
          animation: spin1 90s linear infinite;
}

.E {
  z-index: 2;
  -webkit-animation: spin1 120s linear infinite;
          animation: spin1 120s linear infinite;
}

.BG {
  z-index: 1;
  -webkit-animation: spin1 180s linear infinite;
          animation: spin1 180s linear infinite;
}

@media only screen and (max-width: 512px) {
  .imageContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin: -90px 0;
  }
}

@media only screen and (min-width: 512px) and (max-width: 768px) {
  .imageContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    margin: -10px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .imageContainer {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-transform: scale(1);
            transform: scale(1);
    margin: 10px auto;
  }
}

@media only screen and (max-width: 1024px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    height: 90%;
  }
  .main2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar-header {
    position: relative;
    left: 5%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .sidebar {
    width: 90%;
    height: 30vh;
    margin: auto;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 300;
  }
  .sidebar form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebar form .searchInput {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .sidebar {
    height: 781px;
  }
  .imageContainer {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    margin: 50px 50px;
  }
}
/*# sourceMappingURL=App.css.map */