/* maincolor-1: #2437AB;
maincolor-2: #62D2EF;

seccolor-1: #FF7A06;
seccolor-2: #FFE787; */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;

  color: white;
  background-color: #252433;
}

//MAIN CONTAINER
.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
}

.mobile-footer {
  display: none;
  width: 100%;
  height: 3vh;

  bottom: 0px;
  padding: 10px 0px;
  color: white;
  text-align: center;
}

.mobile-footer a {
  color: white;
  text-decoration: none;
}

.appInfo {
  width: 500px;

  display: none;
  position: absolute;
  margin: 10px;
  z-index: 15;
  background-color: #252a42;

  transition: 2s;
}

// SIDEBAR

.sidebar {
  position: relative;
  width: 360px;
  height: 94vh;
  font-size: 13px;
  font-weight: 300;
}

.sidebar-header {
  display: block;
  width: 100%;
  max-width: 360px;
  background-image: linear-gradient(to right, #2437ab, #62d2ef);
  height: auto;
  max-height: 5rem;
  padding-top: 5px;
  padding-bottom: 15px;
  /* margin-bottom: 5px; */
}

.sidebar-header h1 {
  padding: 10px;
  padding-bottom: 0px;
  font-size: 2.5rem;
}

.sidebar-header p {
  display: inline-flex;
  margin: 10px 10px;
}

.sidebar-footer {
  /* z-index: -3; */
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
  max-width: 300px;
  bottom: 0px;
  left: 0px;
  padding: 10px 0px;
  color: #62d2ef;
  background-color: #252433;
  text-align: center;
  font-size: 0.8rem;
}

.sidebar-footer a {
  color: #62d2ef;
  text-decoration: none;
}

.resultsList {
  display: block;
  position: relative;
  height: auto;
  max-height: 80%;
  list-style-type: none;
  text-align: left;
  /* margin-bottom: 30px; */

  overflow-y: scroll;
}

.resultsList li {
  display: flex;
  padding: 3px;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  background-color: #252433;
}

.resultsList li:hover {
  background-color: #252a42;
}

.resultsList li h3 {
  font-weight: 400;
  font-size: 16px;
  padding: 2px 2px;
}

.resultsList li h5 {
  font-weight: 300;
  /* font-size: 1.5rem; */
  padding: 2px 2px;
  color: #ffe787;
}

.searchResultImage {
  display: inline-block;
  padding: 5px;
  height: 50px;
  width: auto;
    
    img {
        width: 50px;
        height: auto;
    }
}

span {
  margin: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #62d2ef;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5193d1;
}



// SEARCH CONTAINER

.searchContainer {
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.searchContainer form {
  width: 100%;
  margin: 2px 0px;
}

.searchInput {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
}

.searchButton {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 0px 5px;
  background-color: #62d2ef;
}

.searchButton:hover {
  background-color: #5193d1;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .searchInput {
    width: 30%;
    min-width: 140px;
  }
}

// IMAGE CONTAINER

.imageContainer {
  position: relative;
  margin: auto;
  transition: 1s;
  /* overflow: hidden; */
}

.generatedImage {
  /* width: 900px;
    height: 900px; */
  border: 1px solid rgb(61, 61, 65);
  /* margin: auto; */
}

svg {
  width: 100%;
  height: auto;
  fill: rgb(61, 61, 65);
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

h3 {
  font-weight: 700;
}

.A {
  z-index: 10;
}

.B {
  z-index: 8;
}

.C {
  z-index: 6;
}

.D {
  z-index: 4;
}

.E {
  z-index: 2;
}

.BG {
  z-index: 0;
}

.A img,
.B img,
.C img,
.BG img {
  width: 100%;
  height: auto;
}

.songTitleDisplay {
  margin: 10px;
  text-align: center;
}

.songTitleDisplay h3 {
  font-weight: 400;
  margin: 5px;
}

.songTitleDisplay h5 {
  font-weight: 300;
}

.image-element-enter {
  transform: scale(0.8);
  opacity: 0;
  transition: 1ms;
}

.image-element-enter-active {
  transform: scale(0.8);
  opacity: 0;
  transition: 1000ms;
}

.image-element-exit {
  transform: scale(0.8);
  opacity: 1;
  transition: 1000ms;
}

.image-element-exit-active {
  transform: scale(1);
  opacity: 1;
  transition: 1000ms;
}

// IMAGE ELEMENT
.generatedImage {
  display: flex;
  margin: auto;
  width: 700px;
  height: 700px;
  border: 1px solid rgb(61, 61, 65);
  overflow: hidden;
  /* transform: scale(1.1); */
}

svg {
  width: 100%;
  height: auto;
  fill: rgb(61, 61, 65);
}

.A,
.B,
.C,
.D,
.E,
.BG {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;

  /* animation: fadeIn 2s 1; */
}

@keyframes move1 {
  0% {
    transform: translate(0px, 5px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -5px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, 5px);
  }
}

@keyframes pulse1 {
  0% {
    transform: scale(1);
  }
  22% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.A {
  z-index: 10;
  animation: pulse1 6s linear infinite;
}

.B {
  z-index: 8;
  animation: move1 5s linear infinite;
}

.C {
  z-index: 6;
  animation: move1 5.5s linear infinite;
}

.D {
  z-index: 4;
  animation: spin1 90s linear infinite;
}

.E {
  z-index: 2;
  animation: spin1 120s linear infinite;
}

.BG {
  z-index: 1;
  animation: spin1 180s linear infinite;
}
